@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Dashboard</h3>
    </div>
</div>
<div class="row" style="height:500px">
    <div class="col-md-12">
        <h4>Persebaran Instruktur</h4>
    </div>
    <div class="col-md-12" style="height:100%">
        <div id="map"></div>
    </div>
</div>

<script type="text/javascript">
    var map;
    function initMap() {        

        $.post("/State/GetStates/", function (data) {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -1.500611, lng: 118.509049 },
                zoom: 5
            });
            jQuery.each(data, function (index, itemData) {
                var marker = new google.maps.Marker({ position: { lat: parseFloat(itemData.Latitude), lng: parseFloat(itemData.Longitude) }, map: map});
            });
        });
    }

    $(document).ready(function () {
        initMap();
    });

</script>